@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial;
    background-color: rgb(104, 74, 8);
    color: rgba(212, 144, 18, 0.692);
    position: relative;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

h1 {
    color: rgba(206, 161, 77, 0.692);
    position: relative;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}